header {
    background-color: rgb(151, 197, 99);
    height: 930px;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "shrift";
    src: url("ofont.ru_Bootshaus.ttf");
}

.header__menu {
    display: flex;
    justify-content: space-evenly;

}


.header__title {
    display: flex;

}

.header__title img{
    width: 180px;
    margin-top: -10px;
}

.header__map img {
    width: 75vw;
}

.header__map {
    margin-left: auto;
    margin-right: auto;
}

.header__title h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: "shrift";
    font-size: 40px;
}