header {
    border: 25px solid rgb(151, 197, 99);
    height: 930px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/camouflage.webp");
}

@font-face {
    font-family: "shrift";
    src: url("ofont.ru_Bootshaus.ttf");
}

.header__menu {
    display: flex;
    justify-content: space-evenly;
    font-family: "shrift";
    font-size: 26px;
    text-shadow: 5px 5px 5px rgb(116, 226, 116);
}


.header__title {
    display: flex;

}

.header__title img{
    width: 180px;
    margin-top: -10px;
    margin-left: 15px;
    filter: drop-shadow(5px 10px 10px darkgreen) invert(5%);
}

.header__map img {
    width: 75vw;
}

.header__map {
    margin-left: auto;
    margin-right: auto;
}

.header__title h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: "shrift";
    font-size: 48px;
    text-shadow: 5px 10px 10px rgb(116, 226, 116);
}