.main {
    border: 10px solid blue;
    p {
        color: green;
    } 
    &__img {
        color: black;

        img {
            width: 200px;
        }
        h2:hover {
            color: red;
        }
    }
}